.ion-content-2 {
    --background: none;
    background-image: url('../../../assets/icon/fondo3.png') !important;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tamnio-letra {
    margin-top: 8%;
    font-weight: bold;
    font-size: 30px;
  }
  @media (max-width: 600px) {
    .tamanio-card {
      width: 90% !important;
    }
    
    .tamnio-letra {
      font-size: 20px !important;
    }
    
    .responsive-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  .button-color {
    background-color:rgb(9, 0, 138); /* Color inicial del botón */
    transition: background-color 0.3s; /* Transición suave */
  }
  
  .button-color:hover {
    background-color: rgb(219, 187, 2); /* Color al pasar el cursor */
  }    