<ion-content class="ion-content-2 ion-content-1" [fullscreen]="true">
  <div>

    <ion-card class="ion-card-ag">
      <ion-card-header>
        <ion-card-title style="text-align: center; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)" class="tamnio-letra">Directivo</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div>
          <span class="span-row">
            <div class="button-container">
              <div class="button-wrapper">
                <ion-button (click)="btnListarApoderado()" class="square-button button-color">
                  <ion-icon name="people-outline"></ion-icon>
                </ion-button>
                <span><i>Administrar Apoderados</i></span>
              </div>
            </div>
          
            <div class="button-container">
              <div class="button-wrapper">
                <ion-button (click)="btnListarCurso()" class="square-button button-color">
                  <ion-icon name="school-outline"></ion-icon>
                </ion-button>
                <span><i>Administrar Cursos</i></span>
              </div>
            </div>
          
            <div class="button-container">
              <div class="button-wrapper">
                <ion-button (click)="btnListarMatricula()" class="square-button button-color">
                  <ion-icon name="clipboard-outline"></ion-icon>
                </ion-button>
                <span><i>Administrar Matrículas</i></span>
              </div>
            </div>
          </span>
          
  
        </div>
        <section *ngIf="agregarApoderado">
  
          <form [formGroup]="credencial" (ngSubmit)="anadirUser()">
            <ion-item>
              <ion-label position="floating">Nombre Usuario</ion-label>
              <ion-input placeholder="Ingrese su nombre de usuario" formControlName="NOM_USUARIO"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input placeholder="Ingrese su contraseña" formControlName="CONTRASENIA"></ion-input>
            </ion-item>
          </form>

          <form [formGroup]="user" (ngSubmit)="anadirUser()">
            <ion-item>
              <ion-label position="stacked">Rut</ion-label>
              <ion-input type="text" placeholder="Ej: 11.111.111-1" formControlName="RUT"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Primer Nombre</ion-label>
              <ion-input type="text" placeholder="Ej: John " formControlName="P_NOMBRE"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Segundo Nombre</ion-label>
              <ion-input type="text" placeholder="Ej: Gerónimo" formControlName="S_NOMBRE"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido Paterno</ion-label>
              <ion-input type="text" placeholder="Ej: Doe" formControlName="AP_PATERNO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido Materno</ion-label>
              <ion-input type="text" placeholder="Ej: Pérez" formControlName="AP_MATERNO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Fecha Nacimiento</ion-label>
              <ion-input type="text" placeholder="Ej: 11/12/1999" formControlName="FECHA_NAC"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Teléfono</ion-label>
              <ion-input type="number" placeholder="Ej:987656571" formControlName="TELEFONO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Dirección</ion-label>
              <ion-input type="text" placeholder="Ej: La Colonia 0114" formControlName="DIRECCION"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Correo Electronico</ion-label>
              <ion-input type="text" placeholder="Ej: correo@correo.com" formControlName="CORREO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_GENERO" interface="popover" placeholder="Selecciona un género">
                  <span *ngFor="let g of generos">
                      <ion-select-option value="{{g.ID_GENERO}}"> 
                        
                          {{g.TIPO_GENERO}}
                      
                      </ion-select-option>
                    
                  </span>
                  
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_COMUNA" interface="popover" placeholder="Selecciona una comuna">
                  <span *ngFor="let c of comunas">
                      <ion-select-option value="{{c.ID_COMUNA}}"> 
                        
                          {{c.NOM_COMUNA}}
                      
                      </ion-select-option>
                    
                  </span>
                  
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_PROFESION" interface="popover" placeholder="Selecciona una profesión">
                  <span *ngFor="let p of profesiones">
                      <ion-select-option value="{{p.ID_PROFESION}}"> 
                        
                          {{p.NOM_PROF}}
                      
                      </ion-select-option>
                    
                  </span>
                  
                </ion-select>
              </ion-item>
            </ion-list>
            
          </form>
          <ion-button  class="button-color" (click)="anadirUser()">
            Registrar
          </ion-button>
    
          
        </section>
        
        <section *ngIf="agregarCurso">
          <form [formGroup]="curso">
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_COLEGIO" interface="popover" placeholder="Selecciona colegio">
                  <span *ngFor="let c of colegios">
                    <ion-select-option value="{{c[0]}}">

                      {{c[1]}}

                    </ion-select-option>

                  </span>

                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_NIVEL" interface="popover" placeholder="Selecciona nivel">
                  <span *ngFor="let n of niveles">
                    <ion-select-option value="{{n.ID_NIVEL}}">

                      {{n.LETRA_NIVEL}}

                    </ion-select-option>

                  </span>

                </ion-select>
              </ion-item>
            </ion-list>
            <ion-item>
              <ion-label position="stacked">Cupo </ion-label>
              <ion-input type="number" placeholder="Ingrese cantidad de cupo para el curso" formControlName="CUPO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Descripción </ion-label>
              <ion-input type="text" placeholder="Ingrese el nombre del curso" formControlName="DESCRIPCION"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-button class="button-color" (click)="anadirCurso()">
              Registrar
            </ion-button>
          </form>
  
        </section>
        <section *ngIf="searchCurso">
          <form [formGroup]="curso">
            <ion-list>
              <ion-item [disabled]="true">
                <ion-select formControlName="ID_COLEGIO" interface="popover" placeholder="Selecciona colegio" [compareWith]="compareCursosFn">
                  <span *ngFor="let c of colegios">
                    <ion-select-option value="{{c[0]}}">

                      {{c[1]}}

                    </ion-select-option>

                  </span>

                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item >
                <ion-select formControlName="ID_NIVEL" interface="popover" placeholder="Selecciona nivel" [compareWith]="compareCursosFn">
                  <span *ngFor="let n of niveles">
                    <ion-select-option value="{{n.ID_NIVEL}}">

                      {{n.LETRA_NIVEL}}

                    </ion-select-option>

                  </span>

                </ion-select>
              </ion-item>
            </ion-list>
            <ion-item [disabled]="true">
              <ion-label position="stacked">Cupo </ion-label>
              <ion-input  type="number" placeholder="Ingrese cantidad de cupo para el curso" formControlName="CUPO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item [disabled]="true">
              <ion-label position="stacked">Descripción </ion-label>
              <ion-input type="text" placeholder="Ingrese el nombre del curso" formControlName="DESCRIPCION"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-button (click)="actualizarCurso()" class="button-color">
              Modificar
            </ion-button>

          </form>
  
        </section>
        <section *ngIf="searchPerso">
          <form [formGroup]="user" (ngSubmit)="anadirUser()">
            <!--<ion-item>
              <ion-label position="stacked">Tipo Usuario</ion-label>
              <ion-input type="text" placeholder="Ingrese nombre de la asignatura" formControlName="tipo_usuario"></ion-input>
            </ion-item>-->
            <ion-item [disabled]="true">
              <ion-label position="stacked">Rut</ion-label>
              <ion-input type="text" placeholder="Ej: 11.111.111-1" formControlName="RUT"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Primer Nombre</ion-label>
              <ion-input type="text" placeholder="Ej: John"formControlName="P_NOMBRE"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Segundo Nombre</ion-label>
              <ion-input type="text" placeholder="Ej: Gerónimo" formControlName="S_NOMBRE"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido Paterno</ion-label>
              <ion-input type="text" placeholder="Ej: Doe" formControlName="AP_PATERNO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido Materno</ion-label>
              <ion-input type="text" placeholder="Ej: Pérez" formControlName="AP_MATERNO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Fecha Nacimiento</ion-label>
              <ion-input type="text" placeholder="Ej: 11/12/1999" formControlName="FECHA_NAC"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Teléfono</ion-label>
              <ion-input type="number" placeholder="Ej:987656571" formControlName="TELEFONO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item> 
              <ion-label position="stacked">Dirección</ion-label>
              <ion-input type="text" placeholder="Ej: La Colonia 0114" formControlName="DIRECCION"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Correo Electronico</ion-label>
              <ion-input type="text" placeholder="Ej: correo@correo.com" formControlName="CORREO"></ion-input>
              <ion-note slot="error">Campo Obligatorio</ion-note>
            </ion-item>
            
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_GENERO" interface="popover" placeholder="Selecciona un género" [compareWith]="compareTiposPersonaFn">
                  <span *ngFor="let g of generos">
                      <ion-select-option value="{{g.ID_GENERO}}"> 
                        
                          {{g.TIPO_GENERO}}
                      
                      </ion-select-option>
                    
                  </span>
                  
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_COMUNA" interface="popover" placeholder="Selecciona una comuna" [compareWith]="compareTiposPersonaFn">
                  <span *ngFor="let c of comunas">
                      <ion-select-option value="{{c.ID_COMUNA}}"> 
                        
                          {{c.NOM_COMUNA}}
                      
                      </ion-select-option>
                    
                  </span>
                  
                </ion-select>
              </ion-item>
            </ion-list>
            
            <ion-list>
              <ion-item>
                <ion-select formControlName="ID_PROFESION" interface="popover" placeholder="Selecciona una profesión" [compareWith]="compareTiposPersonaFn">
                  <span *ngFor="let p of profesiones">
                      <ion-select-option value="{{p.ID_PROFESION}}"> 
                        
                          {{p.NOM_PROF}}
                      
                      </ion-select-option>
                    
                  </span>
                  
                </ion-select>
              </ion-item>
            </ion-list>
            
            <ion-button (click)="actualizarPersona()" class="button-color">
              Modificar
            </ion-button> 
          </form>
        </section>
        <section *ngIf="agregarMatricula">
          
            <h2>Cantidad de cupos que quedan: {{cupos_totales}}</h2>
            <h2>{{mensaje_condicion_matricula}}</h2>
            <form [formGroup]="matricula" >
              <ion-list>
                <ion-item>
                  <ion-select formControlName="RUT_APODERADO" interface="popover" placeholder="Seleccione un Apoderado" (ionChange)="handleChangeApoderado($event)">
                    <span *ngFor="let p of listaPersonasFilter">
                        <ion-select-option value="{{p[0]}}"> 
                          
                            {{p[1]}} {{p[3]}}
                        
                        </ion-select-option>
                      
                    </span>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
              <section *ngIf="listaAlumnosFiltrados.length > 0">

                <ion-list>
                  <ion-item>
                    <ion-select formControlName="RUT_ALUMNO" interface="popover" placeholder="Seleccione un Alumno" >
                      <span *ngFor="let p of listaAlumnosFiltrados">
                          <ion-select-option value="{{p[0]}}"> 
                            
                              {{p[1]}} {{p[3]}}
                          
                          </ion-select-option>
                        
                      </span>
                      
                    </ion-select>
                  </ion-item>
                </ion-list>
              </section>
              <ion-list>
                <ion-item>
                  <ion-select formControlName="ID_COLEGIO" interface="popover" placeholder="Seleccione un Colegio">
                    <span *ngFor="let c of colegios">
                        <ion-select-option value="{{c[0]}}"> 
                          
                            {{c[1]}}
                        
                        </ion-select-option>
                      
                    </span>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item>
                  <ion-select formControlName="ID_CURSO" interface="popover" placeholder="Seleccione un Curso" (ionChange)="handleChange($event)">
                    <span *ngFor="let c of cursos_completos">
                        <ion-select-option value="{{c[0]}}" > 
                          
                            {{c[1]}}
                        
                        </ion-select-option>
                      
                    </span>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-item>
                <ion-label position="floating">Contacto Emergencia</ion-label>
                <ion-input type="number" placeholder="Ingrese número de contacto de emergencia. Ej:987656571" formControlName="CONTACTO_EMERGENCIA"></ion-input>
                <ion-note slot="error">Campo Obligatorio</ion-note>
              </ion-item>
              
      
            </form>
            <section>
              <ion-button [disabled]="!condicionMatricula" (click)="anadirMatricula()" class="button-color">
               Registrar
              </ion-button>
            </section>
          
  
        </section>
        <section *ngIf="searchMatricula">
          
            <form [formGroup]="matricula" >
              <ion-list>
                <ion-item [disabled]="true">
                  <ion-select formControlName="RUT_APODERADO" interface="popover" placeholder="Seleccione un Apoderado" (ionChange)="handleChangeApoderado($event)" [compareWith]="compareTiposPersonaFn">
                    <span *ngFor="let p of listaPersonasFilter">
                        <ion-select-option value="{{p[0]}}"> 
                          
                            {{p[1]}} {{p[3]}}
                        
                        </ion-select-option>
                      
                    </span>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
              <section>

                <ion-list>
                  <ion-item [disabled]="true">
                    <ion-select formControlName="RUT_ALUMNO" interface="popover" placeholder="Seleccione un Alumno" [compareWith]="compareTiposPersonaFn">
                      <span *ngFor="let p of personas">
                          <ion-select-option value="{{p[0]}}"> 
                            
                              {{p[1]}} {{p[3]}}
                          
                          </ion-select-option>
                        
                      </span>
                      
                    </ion-select>
                  </ion-item>
                </ion-list>
              </section>
              <ion-list>
                <ion-item [disabled]="true">
                  <ion-select formControlName="ID_COLEGIO" interface="popover" placeholder="Seleccione un Colegio" [compareWith]="compareTiposPersonaFn">
                    <span *ngFor="let c of colegios">
                        <ion-select-option value="{{c[0]}}"> 
                          
                            {{c[1]}}
                        
                        </ion-select-option>
                      
                    </span>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item [disabled]="true">
                  <ion-select formControlName="ID_CURSO" interface="popover" placeholder="Seleccione un Curso" (ionChange)="handleChange($event)" [compareWith]="compareTiposPersonaFn">
                    <span *ngFor="let c of cursos_completos">
                        <ion-select-option value="{{c[0]}}" > 
                          
                            {{c[1]}}
                        
                        </ion-select-option>
                      
                    </span>
                    
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-item>
                <ion-label position="floating">Contacto Emergencia</ion-label>
                <ion-input type="number" placeholder="Ingrese número de contacto de emergencia. Ej:987656571" formControlName="CONTACTO_EMERGENCIA"></ion-input>
                <ion-note slot="error">Campo Obligatorio</ion-note>
              </ion-item>
              
      
            </form>
            <section>
              <ion-button (click)="actualizarMatricula()" class="button-color">
               Modificar
              </ion-button>
            </section>
          
  
        </section>
        <section *ngIf="listarApoderado"  style="display:inline-flex; justify-content: center; flex-direction: column !important; align-items: center; text-align: center; width: 100%; height: 100%;">
          <span style="margin-top: 20px; margin-bottom: 20px">
            <h1><b><i>Listar Apoderados</i></b></h1>
          </span>
          <section class="responsive-table"  style="text-align: center;">
  
            <table style="width: 100%; ">
              <tr >
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Opciones</th>
              </tr>
              <tr *ngFor="let pe of listaPersonasFilter | slice: (paginaActual - 1) * 10 : paginaActual * 10">

                <td >
                  <span>{{pe[0]}}</span>
                </td>
                <td >
                  <span> {{pe[1]}} </span>
                </td>
                <td >
                  <span> {{pe[3]}}</span>
                </td>
                <td style="display:flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
                  <ion-button  style="--border-radius: 50%; width: 50px; " color="danger" (click)="presentAlertBorrar(pe[0])"><ion-icon name="trash-outline"></ion-icon></ion-button>
                  <ion-button  style="--border-radius: 50%; width: 50px; " color="warning" (click)="buscarPersona(pe[0])"><ion-icon name="search-outline"></ion-icon></ion-button>
                </td>
              </tr>
              
            </table>
            <section style="display: flex; flex-direction: column; text-align: center; justify-content: center;">
              <section>
                <ion-button (click)="btnAgregarApoderado()" class="custom-button" style="background-color: rgb(9, 0, 138); transition: background-color 0.3s; border-radius: 0; display: flex; justify-content: center; align-items: center;">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </section>
              <section style="display: flex; flex-direction: row; justify-content: center;">
                <ion-button (click)="paginaActual = paginaActual - 1" class="custom-button" [disabled]="paginaActual === 1">
                  Anterior
                </ion-button>
                <ion-button (click)="paginaActual = paginaActual + 1" class="custom-button" [disabled]="paginaActual * 10 >= listaPersonasFilter.length">
                  Siguiente
                </ion-button>
              </section>
              
              <section style="display: flex; flex-direction: row; justify-content: center;">

                <ion-button (click)="onImprimir()" class="custom-button">
                  Imprimir
                </ion-button>
              </section>

            </section>
          </section>
        </section>
        <section *ngIf="listarCurso"  style="display:inline-flex; justify-content: center; flex-direction: column !important; align-items: center; text-align: center; width: 100%; height: 100%;">
          <span style="margin-top: 20px; margin-bottom: 20px">
            <h1><b><i>Listar Cursos</i></b></h1>
          </span>
          <section class="responsive-table"  style="text-align: center;">
  
            <table style="width: 100%; ">
              <tr >
                <th>Nombre</th>
                <th>Colegio</th>
                <th>Cupo</th>
                <th>Opciones</th>
              </tr>
              <tr *ngFor="let cur of cursos | slice: (paginaActualCurso - 1) * 10 : paginaActualCurso * 10">

                <td >
                  <span>{{cur[4]}} {{cur[2]}}</span>
                </td>
                <td>
                  <span> {{cur[1]}} </span>
                </td>
                <td >
                  <span> {{cur[3]}}</span>
                </td>
                <td style="display:flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
                  <ion-button  style="--border-radius: 50%; width: 50px; " color="danger" (click)="presentAlertBorrarCur(cur[0])"><ion-icon name="trash-outline"></ion-icon></ion-button>
                  <ion-button  style="--border-radius: 50%; width: 50px; " color="warning" (click)="buscarCurso(cur[0])"><ion-icon name="search-outline"></ion-icon></ion-button>
                </td>
            </tr>
            
            </table>
            <section style="display: flex; flex-direction: column; text-align: center; justify-content: center;">
              <section >
                <ion-button (click)="btnAgregarCurso()" class="custom-button" style="background-color: rgb(9, 0, 138); transition: background-color 0.3s; border-radius: 0; display: flex; justify-content: center; align-items: center;">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </section>
              <section style="display: flex; flex-direction: row; justify-content: center;">
                <ion-button (click)="paginaActualCurso = paginaActualCurso - 1" class="custom-button" [disabled]="paginaActualCurso === 1">
                  Anterior
                </ion-button>
                <ion-button (click)="paginaActualCurso = paginaActualCurso + 1" class="custom-button" [disabled]="paginaActualCurso * 10 >= cursos.length">
                  Siguiente
                </ion-button>
              </section>
              <section  style="display: flex; flex-direction: row; justify-content: center;">
                <ion-button (click)="onImprimirCurso()" class="custom-button">
                  
                  Imprimir
                </ion-button>
              </section>

            </section>
            

          </section>
  
        </section>
        <section *ngIf="listarMatricula"  style="display:inline-flex; justify-content: center; flex-direction: column !important; align-items: center; text-align: center; width: 100%; height: 100%;">
          <span style="margin-top: 20px; margin-bottom: 20px">
            <h1><b><i>Lista Matricula</i></b></h1>
          </span>
          <section class="responsive-table"  style="text-align: center;">
  
            <table style="width: 100%; ">
              <tr >
                <th>Rut Apoderado</th>
                <th>Rut Alumno</th>
                <th>Contacto emergencia</th>
                
                <th>Opciones</th>
              </tr>
              <tr *ngFor="let mat of matriculas | slice: (paginaActualMatricula - 1) * 10 : paginaActualMatricula * 10">
                <td >
                  <span> {{mat[2]}} </span>
                </td>
                <td >
                  <span> {{mat[3]}} </span>
                </td>
                <td >
                  <span> {{mat[6]}} </span>
                </td>
                <td style="display:flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
                  <ion-button style="--border-radius: 50%; width: 50px; " color="danger" (click)="presentAlertBorrarMat(mat[0])"><ion-icon name="trash-outline"></ion-icon></ion-button>
                  <ion-button style="--border-radius: 50%; width: 50px; " color="warning" (click)="buscarMatriculas(mat[0])"><ion-icon name="search-outline"></ion-icon></ion-button>
                </td>
              </tr>

            </table>
            <section style="display: flex; flex-direction: column; text-align: center; justify-content: center;">
              <section>
                <ion-button (click)="btnAgregarMatricula()" class="custom-button" style="background-color: rgb(9, 0, 138); transition: background-color 0.3s; border-radius: 0; display: flex; justify-content: center; align-items: center;">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </section>
              <section style="display: flex; flex-direction: row; justify-content: center;">
                <ion-button (click)="paginaActualMatricula = paginaActualMatricula - 1" class="custom-button" [disabled]="paginaActualMatricula === 1">
                  Anterior
                </ion-button>
                <ion-button (click)="paginaActualMatricula = paginaActualMatricula + 1" class="custom-button" [disabled]="paginaActualMatricula * 10 >= matriculas.length">
                  Siguiente
                </ion-button>
              </section>
              <section  style="display: flex; flex-direction: row; justify-content: center;">
                <ion-button (click)="onImprimirMatricula()" class="custom-button">
                  
                  Imprimir
                </ion-button>
              </section>
            </section>

          </section>
        </section>
  
        
        
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
