<ion-content class="ion-content-2 ion-content-1" style="justify-content: center;">
  <div>
    <ion-card class="ion-card-ag">
      <ion-card-header>
        <ion-card-title style="text-align: center;">
          <h1 style="font-weight: bold; text-decoration: underline; font-size: 2em;">Preguntas Frecuentes</h1>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <section>
          <h2 style="font-weight: bold;">¿Cuáles son los horarios de atención?</h2>
          <h3 style="font-style: italic;">La página está habilitada las 24 hrs. durante el periodo de matrículas</h3>
          <hr>
          <h2 style="font-weight: bold;">¿Es necesario ir al colegio a matricular?</h2>
          <h3 style="font-style: italic;">Solo en caso de presentar alguna incidencia al momento de realizar la matrícula sería necesario acercarse al colegio</h3>
          <hr>
          <h2 style="font-weight: bold;">¿Tiene algún costo la matrícula?</h2>
          <h3 style="font-style: italic;">No, ya que es un colegio municipal, lo que quiere decir que se encuentra subvencionado por el estado</h3>
          <hr>
          <h2 style="font-weight: bold;">¿Se pueden matricular extranjeros?</h2>
          <h3 style="font-style: italic;">Sí, ya que todos los niños tienen derecho a estudiar</h3>
          <hr>
          <h2 style="font-weight: bold;">Cómo puedes contactarnos</h2>
          <h3 style="font-style: italic;">Mediante redes sociales o a nuestro número telefónico</h3>
          <a href="https://www.instagram.com/liceosangeronimo/"><ion-icon name="logo-instagram" style="margin-top: 1px !important;"></ion-icon>Instagram LSG</a>
          <h3 style="font-style: italic;">Fono: +56227975352</h3>
          <hr>
        </section>
        <section>
          <img src="../../../assets/icon/fotoLSG2.jpg" alt="Liceo San Gerónimo" style="width: 70%; border: 2px solid black;">
        </section>
        <ion-button class="button-color" routerLink="/">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>